* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
  }
  .wrapper {
    position: relative;
    width: 400px;
    height: 500px;
    background: #000;
    box-shadow: 0 0 50px #0ef;
    border-radius: 20px;
    padding: 40px;
    overflow: hidden;
  }