body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #1b1b32;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, p {
    margin: 1em auto;
    text-align: center;
}

form, #search-container, #list-container {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

#list {
    list-style: none;
    padding: 0;
}

#search-container input[type="text"] {
    width: calc(100% - 80px);
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#search-container button {
    width: 70px;
    padding: 5px;
    border: none;
    border-radius: 3px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

li {
    position: relative;
    margin-bottom: 1em;
}

#uploadButton { 
    padding:10px;
    background:#2d2d2d;
    color: #fff;;
    
}

button {
    position: absolute;
    
}

#list-container {
    width: 700px;
    margin: 0 auto;
    padding: 1em;
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

#list-container {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
    position: relative; /* Make the container relative */
}

#search {
    width: calc(100% - 90px); /* Adjusted width for input */
}

input[type=file] {
    padding:10px;
    background:#2d2d2d;
}

#pass-bar{
    display: none;
    padding-bottom: 10px;
}

.progress-bar{
    flex-direction: column;
}

.progress-bar .line{
    height: 15px;
    background: #e8e8e8;
    border-radius: 7px;
    position: relative;
}

.progress-bar .label{
    font-size: 30px;
}

.progress-bar > .line > span{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: red;
    border-radius: 10px;
}


@keyframes animationLoaded{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

.dropbtn {
    background-color: gray;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    align-items: left;
}

.dropdown {
    position: absolute;
    margin-right: 85vw;
    margin-bottom: 45vw;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #424242;}